@import url("https://fonts.googleapis.com/css?family=Open+Sans+Condensed:700");




#submit{
    border: none;
    background: transparent;
    padding: 0 17px;
    font-size: 13px;
    top:220px;
    left:10px;
    line-height: 30px;
    font-family: 'Open Sans Condensed', sans-serif;
    position: relative;
    color: #3E4651;
    cursor: pointer;
    letter-spacing: 0.5px;
}
#submit:before {
    content: '';
    position: absolute;
    left: 0;
    top: 0;
    width: 40px;
    height: 35px;
    background: transparent;
    border: 2px solid #4AB9F2;
    z-index: -1;
    border-radius: 5px;
    -webkit-transition: 0.3s ease-in-out;
    transition: 0.3s ease-in-out;
}
#submit:after {
    content: '';
    position: absolute;
    left: 40px;
    top: 50%;
    -webkit-transform: translate(-50%, -50%);
    transform: translate(-50%, -50%);
    background: #ECECEC;
    height: 20px;
    width: 50px;
    z-index: -1;
    -webkit-transition: 0.3s linear;
    transition: 0.3s linear;
}
#submit:hover:after {
    opacity: 0;
    background: #4AB9F2;
}
#submit:hover {
    color: #fff;
}
#submit:hover:before {
    width: 70px;
    background: #4AB9F2;
    box-shadow: 0 10px 90px -2px rgba(0, 0, 0, 0.2);
}